.pokemon {
    flex-basis: 20%;
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
}

.pokemon:hover {
    background: #c5c1c1a7;
}

.pokemon-name {
    text-transform: capitalize;
    margin-bottom: 15px;
    letter-spacing: 0.3rem;
    font-weight: bold;
}

.pokemon-image {
    height: 150px;
    max-height: 80%;
}

.pokemon-links {
    text-decoration: none;
}

@media screen and (max-width:480px) {
    .pokemon {
        height: auto;
        width: auto;
        margin-bottom: 30px;
        text-align: center;
        
    }

    .pokemon-image {
        height: 200px;
        width: 200px;
        max-height: 80%;
    }
    
}