.pokemon {
    flex-basis: 20%;
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
}

.pokemon:hover {
    background: #c5c1c1a7;
}

.pokemon-name {
    text-transform: capitalize;
    margin-bottom: 15px;
    letter-spacing: 0.3rem;
    font-weight: bold;
}

.pokemon-image {
    height: 150px;
    max-height: 80%;
}

@media screen and (max-width:480px) {
    .pokemon {
        flex-basis: 100%;
        height: 350px;
        width: 480px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px;
        border-radius: 10px;
    }

    .pokemon-image {
        height: 320px;
        max-height: 80%;
    }
    
}